#goBackButton{
    width: fit-content;
    height:fit-content;
    background-color:transparent;
    color: var(--main-color);
    border: 0;
    font-size:x-large;
    padding:5px;
    margin: 5px;
    font-weight: 600;

    &:hover{
        color: var(--secondary-color);
    }
}

#productPage{
    width: 100%;
    padding-top:20px;
}

#product{
    width: 45%;
    float:left;
    text-align: center;
    font-size: xx-large;
    padding-top:20px;
    overflow-y: auto;
    height: calc(100vh - 68px);
    scrollbar-width: thin;

    & img{
        height: 200px;
        padding-top: 30px;
        padding-bottom:20px
    }
    & p{
        font-size: xx-large;
        font-weight: 600;
        padding-top: 15px;
        padding-bottom: 10px;
    }
    & button{
        width: 30px;
        height: 30px;
        margin-left: 5px;
        margin-right: 5px;
        border: var(--main-color) solid 2px;
        background-color: transparent;
        font-weight: 600;
        font-size: 20px;

        &:hover{
            background-color: var(--secondary-color);
            border-color: var(--secondary-color);
        }
    }
    & span{
        font-size: 25px;
        margin-top: 10px;
    }
    & #addButton{       
        margin: 5px;
        background-color: var(--main-color);
        border: 3px var(--main-color) solid;
        font-size:25px;
        height: fit-content;
        width: fit-content;
        padding: 10px;
        border-radius: 10px;
        font-weight: 600;
        margin-top: 30px;
        margin-bottom: 20px;
        color: white;

        &:hover{
            background-color: transparent;
            color: var(--main-color);
        }
    }
}
#integrients{
    width: 55%;
    float:left;
    height: calc(100vh - 68px);
    overflow-y: auto;
    overflow-x: hidden;

    & p{
        font-size: xx-large;
        font-weight: 600;
        padding: 10px;
        z-index: 1;
        position:sticky;
        top:0;
        background-color: white;
        
    }
    & ul{
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        gap:15px;
        padding: 15px;
    }
    & ul li{
        height: 190px;
        width: 120px;
        padding:5px;
        background-color: var(--list-element-color);
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
    }
    & ul li p{
        font-size: large;
        overflow-wrap: break-word;
        background-color: transparent;
        z-index: 0;
        text-wrap-mode: wrap;
    }
    & ul li img{
        width: 90%;
        margin-top: 5px;
        margin-bottom: 2px;
    }
}
@media(max-width:730px){
    #productPage{
        padding-top: 5px;
    }
    #product{
        font-size: x-large;
        & img{
            width: 80%;
            padding-bottom: 10px;
        }
        & p{
            font-size: xx-large;
        }
        & span {
            font-size: 22px;
        }
        & button{
            margin-top: 10px;
        }
        & #addButton{
            font-size: 20px;
            text-wrap-mode: wrap;
            margin-top: 30px;
        }
    }
    #integrients{
        scrollbar-width: thin;

        & p{
            font-size: 25px;
        }
        & ul {
            gap:10px;
        }
        & ul li{
            height: fit-content;
            width: 100px;
        }
    }
}
