.liProducts p{
    margin-top: auto;
    text-align: center;
    font-weight: 600;
}
.liProducts span{
    font-weight: 400;
}
#ulProducts{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap:15px;
    padding: 15px;
}
.liProducts{
    height: 170px;
    width: 180px;
    padding:5px;
    background-color: rgb(230, 230, 230);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: transform 0.1s ease, background-color 0.1s ease;

    &:hover{
       background-color: var(--secondary-color);
    }
    &:active{
        transform: scale(0.95);
    }
}

@media (max-width:500px){
    .liProducts{
        width: 120px;
        min-height: 140px;
        height: fit-content;
    }
}
@media(min-width:1200px){
    .liProducts{
        width: 230px;
        height: 220px;
        padding:10px;
    }
}
